.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
test/**
out/test/**
node_modules/**
!node_modules/axios/**
!node_modules/@types/**
!node_modules/typescript/**
!node_modules/node-fetch/**
.eslintrc.js
.eslintignore
.prettierrc
.prettierignore
webpack.config.js
**/jest.config.js
**/*.test.ts
**/*.spec.ts 